# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Migrations (optional, for dev environments)
*.pyc
db.sqlite3

# Static and media files (if applicable)
staticfiles/
media/
